/* style_print.css */

@page {
    size: A4 landscape; /* A4横向き */
    margin: 1cm; /* ★style_wp.css と同じ値にしてみる★ */

    @top-left { content: ""; }
    @top-center { content: ""; }
    @top-right { content: ""; }
    @bottom-left { content: ""; }
    @bottom-center { content: ""; }
    @bottom-right { content: ""; }
}

/* ================================================== */
/* ================= Print Styles =================== */
/* ================================================== */
@media print {

    /* --- Print Header/Footer Containers --- */
    .print-footer {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: var(--print-footer-height);
        justify-content: space-between ;
        background-color: #333;
        color: #ffffff;
        font-size: 10pt;
    }

    /* --- Print Slide Adjustments --- */
    .slide {
        padding-bottom: 1cm; /* 余白を調整 */
        overflow: visible ; 
        position: relative ;
    }

    /* --- footerのBar位置を調整する部品 --- */
    #slide-cover .print-page-break-adjuster { margin-top: 10mm; }
    #slide-introduction .print-page-break-adjuster { margin-top: 10mm ; }

} /* End of @media print */