
.common-title {
  display: flex; /* 子要素を横並びにする */
  align-items: center; /* 縦方向中央揃え */
  padding-left: 20px; /* 縦棒の幅 + スペース */
}

.title-bar {
  display: inline-block; /* 幅と高さを指定できるように */
  width: 3px;
  height: 1em; /* タイトルテキストの高さに合わせる */
  background-color: #1e377e; /* 赤 #c81a1d、濃い青#1e377e、薄い青#36a2c4  */
  border-radius: 2px;
  margin-right: 15px; /* タイトルテキストとのスペース */
}





